* {
  box-sizing: border-box;
  /* text-align: center; */
  /* border: 1px solid black; */
  max-width: 100%;
  padding: 0;
  margin: 0;
  color: #1b262c;
  font-family: 'Press Start 2P', cursive;
}

.App {
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 3%;
}

@media screen and (max-width: 500px) {
  .grid-cell {
    width: 15;
    height: 15;
  }
}
